.app-header {
  $root: &;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: none;

  @include defaultTransition(transform, box-shadow);

  @include media-breakpoint-up(lg) {
    background-color: $color-white;
  }
  @include media-breakpoint-down(md) {
    &:before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      content: "";
    }
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  &.is-fixed {
    box-shadow: 0 0 toRem(88) 0 rgba(109, 140, 155, 0.15);
  }

  &__container {
    position: relative;
    z-index: 2;
  }

  &__content {
    display: flex;
    align-items: center;
    height: toRem(72);

    @include media-breakpoint-up(lg) {
      padding: 0 toRem(32);
    }
    @include media-breakpoint-up(md) {
      height: toRem(88);
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: toRem(25);
    width: toRem(145);
    margin-right: toRem(58);
    margin-top: toRem(4);
    flex-shrink: 0;
  }

  &__menu {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $color-white;
      padding-top: toRem(32);
      padding-bottom: toRem(64);
      transform: translateY(calc(-100% - #{toRem(72)}));

      @include defaultTransition(transform);
      @include container;
    }

    @at-root body.resizing & {
      transition: none;
    }

    #{$root}--menu-opened & {
      @include media-breakpoint-down(sm) {
        transform: none;
      }
    }
  }

  &__nav {
    @include media-breakpoint-only(md) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $color-white;
      padding: toRem(52) 0 toRem(56);
      transform: translateY(calc(-100% - #{toRem(88)}));

      @include defaultTransition(transform);
    }

    @at-root body.resizing & {
      transition: none;
    }

    #{$root}--menu-opened & {
      @include media-breakpoint-only(md) {
        transform: none;
      }
    }
  }

  &__list {
    @include media-breakpoint-up(lg) {
      gap: toRem(22);
    }
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
    }
    @include media-breakpoint-only(md) {
      @include container;
    }
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include media-breakpoint-only(md) {
      width: calc(50% - #{toRem(8)});
      margin-bottom: toRem(24);

      @include last-row(2) {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-down(md) {
      opacity: 0;

      @include defaultTransition(opacity);
    }
    @include media-breakpoint-down(sm) {
      &:not(:last-child) {
        margin-bottom: toRem(16);
      }
    }

    #{$root}--menu-opened & {
      @include media-breakpoint-down(md) {
        opacity: 1;
      }
    }
  }

  &__link {
    font-size: toRem(16);
    line-height: 1.26;
    color: $color-black;

    @include hover {
      color: $color-green;
    }

    @include defaultTransition(color);
  }

  &__action {
    margin-left: auto;

    .app-button {
      min-width: auto;
    }

    @include media-breakpoint-only(md) {
      margin-right: toRem(32);
    }
    @include media-breakpoint-down(sm) {
      margin-top: toRem(40);
      width: 100%;

      .app-button {
        width: 100%;
      }
    }
  }

  &__burger {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: toRem(32);
    width: toRem(32);
    background-color: transparent;
    color: $color-black;
    border: 0;
    padding: 0;
    gap: toRem(8);

    @include hover {
      color: rgba($color-black, 0.6);
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      margin-left: auto;
    }

    span {
      height: 2px;
      width: toRem(32);
      background-color: currentColor;

      @include defaultTransition(transform, color);
    }

    #{$root}--menu-opened & {
      span {
        &:first-child {
          transform: rotate(45deg) translateX(#{toRem(5)}) translateY(#{toRem(3)});
        }

        &:last-child {
          transform: rotate(-45deg) translateX(#{toRem(3)}) translateY(#{toRem(-3)});
        }
      }
    }
  }

  &__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: none;
    pointer-events: none;

    #{$root}--menu-opened & {
      pointer-events: auto;
      background-color: rgba($color-white, 0.1);
      backdrop-filter: blur(#{toRem(24)});
    }

    @include defaultTransition(backdrop-filter, background-color);

    @at-root body.resizing & {
      transition: none;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

