.app-input {
  $root: &;

  position: relative;

  &__input {
    display: block;
    width: 100%;
    height: toRem(50);
    padding: 0 toRem(24);
    background-color: $color-dark-grey;
    color: $color-white;
    border: 0;
    border-radius: toRem(80);
    appearance: none;

    @include text-input;
    @include defaultTransition(background-color, color);

    @include media-breakpoint-up(md) {
      height: toRem(80);
      padding: 0 toRem(32);
    }

    &:disabled {
      color: rgba($color-white, 0.2);
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }

    @include hover {
      &:not(:disabled) {
        background-color: $color-dark-grey-hover;
      }
    }

    &.focusin {
      &:not(:disabled) {
        background-color: $color-dark-grey-hover;
      }
    }
  }
}
