.app-switch {
  $root: &;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  &__input {
    @include visually-hidden;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(88);
    height: toRem(50);
    background-color: $color-dark-grey;
    color: $color-white;
    font-size: toRem(14);
    line-height: 1;
    cursor: pointer;

    @include defaultTransition(background-color);

    @include media-breakpoint-up(lg) {
      font-size: toRem(20);
    }
    @include media-breakpoint-up(md) {
      height: toRem(80);
    }
    @include media-breakpoint-only(md) {
      font-size: toRem(18);
    }

    #{$root}__button:first-child & {
      border-radius: toRem(40) 0 0 toRem(40);
    }

    #{$root}__button:last-child & {
      border-radius: 0 toRem(40) toRem(40) 0;
    }

    #{$root}__input:not(:checked) + & {
      @include hover {
        background-color: $color-dark-grey-hover;
      }
    }

    #{$root}__input:checked + & {
      background-color: $color-green;
      cursor: default;
    }
  }
}
