.app-card-request {
  $root: &;

  position: relative;

  &__content {
    position: relative;
    z-index: 1;
    min-height: toRem(382);
    padding: toRem(32) toRem(24) toRem(297);

    @include media-breakpoint-up(lg) {
      padding: toRem(56) toRem(48);
    }
    @include media-breakpoint-only(md) {
      padding: toRem(40) toRem(32) toRem(232);
    }
  }

  &__title {
    margin-bottom: toRem(32);

    @include media-breakpoint-up(lg) {
      max-width: toRem(640);
    }
    @include media-breakpoint-only(md) {
      max-width: toRem(560);
    }

    span {
      &:first-child {
        display: block;
      }

      &:not(:first-child) {
        font-weight: 300;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 toRem(88) rgba(109, 140, 155, 0.15);
    background-color: $color-white;
    border-radius: toRem(40);
    overflow: hidden;
  }

  &__image {
    position: absolute;
    z-index: 1;
    width: toRem(328);
    height: toRem(305);
    bottom: toRem(-32);

    @include media-breakpoint-up(lg) {
      right: 0;
      bottom: toRem(-64);
      width: toRem(551);
      height: toRem(510);
    }
    @include media-breakpoint-only(md) {
      width: toRem(414);
      height: toRem(383);
      right: toRem(32);
      bottom: toRem(-55);
    }
    @include media-breakpoint-down(sm) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__action {
    .app-button {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}
