.app-hero {
  $root: &;

  position: relative;
  background-color: $color-white;
  color: $color-black;

  &__base {
    position: relative;
    height: toRem(382);

    @include media-breakpoint-up(lg) {
      height: calc(100vh - #{toRem(136)});
    }
    @include media-breakpoint-only(md) {
      height: toRem(594);
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: toRem(48);

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: toRem(628);
      height: toRem(1156);
      transform: rotate(-69deg);
      border-radius: toRem(1150);
      background-color: $color-green-bright;
      filter: blur(#{toRem(400)});
      content: "";
    }
  }

  &__image {
    position: absolute;

    @include media-breakpoint-up(lg) {
      right: toRem(114);
      bottom: toRem(100);
      width: toRem(663);
      height: toRem(569);
    }
    @include media-breakpoint-only(md) {
      right: 0;
      bottom: 0;
      width: toRem(500);
      height: toRem(430);
    }
    @include media-breakpoint-down(sm) {
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: toRem(238);
      height: toRem(204);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: toRem(16);

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: toRem(40) toRem(40) toRem(36);
    }
    @include media-breakpoint-only(md) {
      padding: toRem(40) toRem(32);
    }
  }

  &__title {
    margin-bottom: toRem(16);

    @include media-breakpoint-up(md) {
      margin-bottom: toRem(40);
    }

    span {
      display: block;

      &:not(:first-child) {
        font-weight: 300;

        @include media-breakpoint-up(lg) {
          margin-top: toRem(-11);
        }
        @include media-breakpoint-only(md) {
          margin-top: toRem(-1);
        }
      }

      &:nth-child(2):not(:last-child) {
        @include media-breakpoint-up(lg) {
          margin-left: toRem(72);
        }
      }
    }
  }

  &__text {
    max-width: toRem(280);

    @include media-breakpoint-up(lg) {
      max-width: toRem(360);
    }
    @include media-breakpoint-only(md) {
      max-width: toRem(312);
    }
  }

  &__items {
    @include media-breakpoint-up(lg) {
      position: absolute;
      z-index: 1;
      display: flex;
      bottom: toRem(36);
      left: toRem(32);
      width: calc(100% - #{toRem(64)});
    }
    @include media-breakpoint-down(md) {
      margin-top: toRem(4);
    }
  }

  &__item {
    @include media-breakpoint-up(lg) {
      width: 33.3333%;
      padding: 0 toRem(8);
    }
    @include media-breakpoint-only(md) {
      &:not(:last-child) {
        margin-bottom: toRem(8);
      }
    }
    @include media-breakpoint-down(sm) {
      &:not(:last-child) {
        margin-bottom: toRem(4);
      }
    }
  }
}
