.app-field {
  $root: &;

  position: relative;

  &__label {
    display: flex;
    align-items: center;
    color: rgba($color-white, 0.4);
    margin-bottom: toRem(16);
  }

  &__bottom {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(8) toRem(24) 0;
  }

  &__text {
    font-size: toRem(11);
    line-height: 1.2;
    color: $color-grey;

    @include media-breakpoint-up(md) {
      font-size: toRem(13);
    }
    @include media-breakpoint-down(sm) {
      letter-spacing: -0.33px;
    }

    &--right {
      margin-left: auto;
    }
  }

  &::v-deep {
    .app-tooltip {
      display: inline-block;
      margin-left: toRem(4);
    }

    .app-tooltip__icon {
      display: block;
      position: static;
      transform: none;
    }
  }
}
