@font-face {
  font-family: 'SB Sans Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/SBSansDisplay-Light.woff2') format('woff2'),
  url('~assets/fonts/SBSansDisplay-Light.woff') format('woff');
}

@font-face {
  font-family: 'SB Sans Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/SBSansDisplay-Regular.woff2') format('woff2'),
  url('~assets/fonts/SBSansDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SB Sans Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/SBSansDisplay-SemiBold.woff2') format('woff2'),
  url('~assets/fonts/SBSansDisplay-SemiBold.woff') format('woff');
}
