@font-face {
  font-family: 'SB Sans Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/sbsansdisplay-light.woff2') format('woff2'),
  url('~assets/fonts/sbsansdisplay-light.woff') format('woff');
}

@font-face {
  font-family: 'SB Sans Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/sbsansdisplay-regular.woff2') format('woff2'),
  url('~assets/fonts/sbsansdisplay-regular.woff') format('woff');
}

@font-face {
  font-family: 'SB Sans Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/sbsansdisplay-semibold.woff2') format('woff2'),
  url('~assets/fonts/sbsansdisplay-semibold.woff') format('woff');
}
