.app-card-action {
  $root: &;

  position: relative;
  display: block;
  min-height: toRem(114);
  padding: toRem(16) toRem(16) toRem(24);
  background-color: $color-white;
  color: $color-black;
  border-radius: toRem(24);
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    min-height: toRem(154);
  }
  @include media-breakpoint-only(md) {
    min-height: toRem(110);
  }
  @include media-breakpoint-up(md) {
    border-radius: toRem(32);
    padding: toRem(16) toRem(32) toRem(24);
  }
  @include media-breakpoint-down(md) {
    box-shadow: 0 toRem(8) toRem(16) 0 rgba(109, 140, 155, 0.1);
  }

  &__title {
    padding-top: toRem(8);
    margin-bottom: toRem(16);

    @include media-breakpoint-up(lg) {
      min-height: toRem(72);
      max-width: toRem(270);
    }
    @include media-breakpoint-down(sm) {
      max-width: toRem(200);
    }
  }

  &__icon {
    position: absolute;
    top: toRem(16);
    right: toRem(8);
    width: toRem(56);
    height: toRem(56);

    @include media-breakpoint-up(md) {
      top: toRem(16);
      right: toRem(16);
      width: toRem(80);
      height: toRem(80);
    }
  }
}
