.app-features {
  $root: &;

  position: relative;

  &__title {
    margin-bottom: toRem(24);

    @include media-breakpoint-up(lg) {
      margin-bottom: toRem(72);
      text-align: center;
    }
    @include media-breakpoint-only(md) {
      margin-bottom: toRem(32);
    }
  }

  &__swiper {
    width: 100%;

    @include media-breakpoint-only(md) {
      width: toRem(344);
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-container {
      position: static;
      overflow: visible !important;
    }

    .swiper-wrapper {
      @include media-breakpoint-up(lg) {
        transform: none !important;
      }
    }
  }

  &__slider {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: toRem(56);

    @include media-breakpoint-up(lg) {
      bottom: toRem(48);
    }
    @include media-breakpoint-only(md) {
      bottom: toRem(64);
    }
  }

  &__items {
    margin-left: toRem(-2);
    margin-right: toRem(-2);

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      margin-left: toRem(-8);
      margin-right: toRem(-8);
    }
    @include media-breakpoint-only(md) {
      margin-left: toRem(-4);
      margin-right: toRem(-4);
    }
  }

  &__item {
    padding: 0 toRem(2);

    @include media-breakpoint-up(lg) {
      width: 33.3333% !important;
      padding: 0 toRem(8);
      margin-bottom: toRem(16);

      @include last-row(3) {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-only(md) {
      padding: 0 toRem(4);
    }
  }

  &__text {
    min-height: toRem(68);
    margin-bottom: toRem(32);

    @include media-breakpoint-up(lg) {
      max-width: toRem(400);
      min-height: toRem(96);
      margin-bottom: toRem(28);
    }
    @include media-breakpoint-only(md) {
      max-width: toRem(520);
      margin-bottom: toRem(28);
    }
  }

  &__blocks {
    position: relative;
    width: 100%;
    height: toRem(496);

    @include media-breakpoint-up(lg) {
      height: toRem(585);
    }
    @include media-breakpoint-only(md) {
      height: toRem(576);
    }
  }

  &__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    @include media-breakpoint-up(lg) {
      padding-top: toRem(70);
    }
  }

  &__action {
    .app-button {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: toRem(190);
    height: toRem(300);
    pointer-events: none;

    @include media-breakpoint-up(lg) {
      width: toRem(373);
      height: toRem(585);
    }
    @include media-breakpoint-only(md) {
      width: toRem(235);
      height: toRem(372);
    }
  }

  &__pagination {
    position: absolute;
    bottom: toRem(24);
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-only(md) {
      bottom: toRem(32);
    }
  }
}
