.app-calculator {
  $root: &;

  background-color: $color-black;
  color: $color-white;
  border-radius: toRem(32);
  overflow: hidden;

  @include media-breakpoint-up(md) {
    border-radius: toRem(40);
  }

  &__content {
    padding: toRem(56) 0;

    @include media-breakpoint-up(lg) {
      padding: toRem(80) toRem(32) toRem(64);
    }
    @include media-breakpoint-only(md) {
      padding: toRem(80) toRem(32);
    }
  }

  &__title {
    margin-bottom: toRem(32);

    @include media-breakpoint-up(md) {
      margin-bottom: toRem(56);
    }

    span {
      display: block;

      &:not(:first-child) {
        font-weight: 300;
      }
    }
  }

  &__items {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__items {
    @include media-breakpoint-up(lg) {
      margin-left: toRem(-20);
      margin-right: toRem(-20);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: toRem(64);

    @include media-breakpoint-up(lg) {
      width: 50%;
      padding: 0 toRem(20);

      @include last-row(2) {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-up(md) {
      display: flex;
    }
    @include media-breakpoint-down(sm) {
      &:not(:last-child) {
        margin-bottom: toRem(56);
      }
    }

    &--has-checkbox {
      position: relative;
    }

    &:first-child {
      @include media-breakpoint-only(md) {
        margin-bottom: toRem(40);
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: toRem(32);
      }
    }
  }

  &__field {
    width: 100%;

    &:not(:last-child) {
      margin-right: toRem(16);
    }

    &--switch {
      width: auto;

      @include media-breakpoint-down(sm) {
        margin-bottom: toRem(32);
      }
    }

    &--checkbox {
      position: absolute;
      top: calc(100% + #{toRem(12)});
      left: 0;

      @include media-breakpoint-up(lg) {
        left: toRem(12);
      }
    }

    #{$root}__item--has-checkbox & {
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }
  }

  &__actions {
    margin-top: toRem(70);

    @include media-breakpoint-up(lg) {
      margin-top: toRem(80);
    }
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      gap: toRem(16);
    }
    @include media-breakpoint-only(md) {
      margin-top: toRem(48);
    }
  }

  &__action {
    width: 100%;

    .app-button {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      width: toRem(220);
    }
    @include media-breakpoint-down(sm) {
      &:not(:last-child) {
        margin-bottom: toRem(16);
      }
    }
  }

  &__text {
    color: $color-grey;
    margin-top: toRem(40);

    @include text-small;

    @include media-breakpoint-up(lg) {
      margin-top: toRem(40);
    }
    @include media-breakpoint-only(md) {
      margin-top: toRem(48);
    }
  }

  &__result {
    padding: toRem(56) 0;

    @include media-breakpoint-up(lg) {
      padding: toRem(80) toRem(32) toRem(72);
    }
    @include media-breakpoint-only(md) {
      padding: toRem(80) toRem(32);
    }
  }
}
