@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-left: toRem(16);
  padding-right: toRem(16);
  width: 100%;

  @include media-breakpoint-up(lg) {
    padding-left: toRem(48);
    padding-right: toRem(48);
    max-width: toRem(1440);
  }
  @include media-breakpoint-only(md) {
    padding-left: toRem(32);
    padding-right: toRem(32);
  }
}
