@mixin h1 {
  font-size: rem(34);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: rem(64);
  }
  @include media-breakpoint-only(md) {
    font-size: rem(56);
  }
}

@mixin h2 {
  font-size: rem(28);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: rem(48);
  }
  @include media-breakpoint-only(md) {
    font-size: rem(40);
  }
}

@mixin h3 {
  font-size: rem(22);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(md) {
    font-size: rem(32);
  }
}

@mixin h4 {
  font-size: rem(16);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(md) {
    font-size: rem(24);
  }
}

@mixin text-body {
  font-size: rem(14);
  line-height: 1.2;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    font-size: rem(20);
  }
  @include media-breakpoint-only(md) {
    font-size: rem(18);
  }
}

@mixin text-small {
  font-size: rem(12);
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.36px;

  @include media-breakpoint-up(lg) {
    font-size: rem(16);
    letter-spacing: -0.48px;
  }
  @include media-breakpoint-only(md) {
    font-size: rem(14);
    letter-spacing: -0.42px;
  }
}
