@mixin h1 {
  font-size: toRem(34);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: toRem(64);
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(56);
  }
}

@mixin h2 {
  font-size: toRem(28);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: toRem(48);
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(40);
  }
}

@mixin h3 {
  font-size: toRem(22);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(md) {
    font-size: toRem(32);
  }
}

@mixin h4 {
  font-size: toRem(16);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(md) {
    font-size: toRem(24);
  }
}

@mixin h5 {
  font-size: toRem(14);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: toRem(20);
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(18);
  }
}

@mixin text-body {
  font-size: toRem(14);
  line-height: 1.2;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    font-size: toRem(20);
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(18);
  }
}

@mixin text-small {
  font-size: toRem(12);
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.36px;

  @include media-breakpoint-up(lg) {
    font-size: toRem(16);
    letter-spacing: -0.48px;
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(14);
    letter-spacing: -0.42px;
  }
}

@mixin text-input {
  font-size: toRem(14);
  line-height: 1.26;
  letter-spacing: -0.112px;

  @include media-breakpoint-up(md) {
    font-size: toRem(18);
    letter-spacing: -0.144px;
  }
}

@mixin text-button {
  font-size: toRem(14);
  line-height: 1.1;
  letter-spacing: -0.42px;

  @include media-breakpoint-up(lg) {
    font-size: toRem(20);
    letter-spacing: -0.6px;
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(18);
    letter-spacing: -0.54px;
  }
}

@mixin text-button-small {
  font-size: toRem(14);
  line-height: 1.1;
  letter-spacing: -0.42px;

  @include media-breakpoint-up(md) {
    font-size: toRem(16);
    line-height: 1.26;
    letter-spacing: -0.128px;
  }
}

@mixin text-number {
  font-size: toRem(28);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: toRem(48);
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(40);
  }
}

@mixin text-number-big {
  font-size: toRem(34);
  line-height: 1.2;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: toRem(64);
  }
  @include media-breakpoint-only(md) {
    font-size: toRem(56);
  }
}

