.app-program-card {
  $root: &;

  position: relative;

  &__content {
    position: relative;
    z-index: 1;
    padding: toRem(32) toRem(24) toRem(248);

    @include media-breakpoint-up(lg) {
      min-height: toRem(412);
      padding: toRem(56) toRem(48);
    }
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
    }
    @include media-breakpoint-only(md) {
      min-height: toRem(364);
      padding: toRem(40) toRem(32);
    }
  }

  &__title {
    margin-bottom: toRem(24);
    max-width: toRem(500);

    @include media-breakpoint-up(lg) {
      margin-bottom: toRem(32);
    }

    span {
      display: block;

      &:not(:first-child) {
        font-weight: 300;
      }
    }
  }

  &__caption {
    margin-top: auto;

    @include media-breakpoint-only(md) {
      max-width: toRem(260);
    }
    @include media-breakpoint-down(sm) {
      margin-top: toRem(32);
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: toRem(231);
    height: toRem(231);

    @include media-breakpoint-up(lg) {
      width: toRem(500);
      height: toRem(500);
      right: toRem(136);
    }
    @include media-breakpoint-only(md) {
      width: toRem(410);
      height: toRem(410);
      right: toRem(-24);
    }
    @include media-breakpoint-down(sm) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__action {
    @include media-breakpoint-down(sm) {
      .app-button {
        width: 100%;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $color-white;
    border-radius: toRem(40);

    &:before {
      position: absolute;
      filter: blur(#{toRem(250)});
      background-color: #56FF43;
      content: "";
    }

    @include media-breakpoint-up(lg) {
      &:before {
        top: toRem(-40);
        left: toRem(-200);
        width: toRem(1300);
        height: toRem(600);
      }
    }
    @include media-breakpoint-only(md) {
      &:before {
        top: toRem(-50);
        left: toRem(-120);
        width: toRem(600);
        height: toRem(600);
      }
    }
    @include media-breakpoint-down(sm) {
      &:before {
        width: toRem(300);
        height: toRem(420);
        top: toRem(16);
        left: toRem(-80);
      }
    }
  }
}
