.app-card-deposit {
  $root: &;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: toRem(24);
  background-color: $color-white;
  color: $color-black;
  border-radius: toRem(40);

  @include media-breakpoint-up(lg) {
    height: toRem(272);
  }
  @include media-breakpoint-only(md) {
    min-height: toRem(240);
  }
  @include media-breakpoint-down(sm) {
    min-height: toRem(160);
  }
  @include media-breakpoint-up(md) {
    padding: toRem(32) toRem(40) toRem(40);
  }

  &__icon {
    position: absolute;
    top: toRem(16);
    right: toRem(16);
    width: toRem(56);
    height: toRem(56);

    @include media-breakpoint-up(md) {
      top: toRem(32);
      right: toRem(32);
      width: toRem(80);
      height: toRem(80);
    }
  }

  &__title {
    padding-right: toRem(64);
  }

  &__text {
    @include media-breakpoint-down(md) {
      max-width: toRem(500);
    }
  }
}
