.app-tippy {
  $root: &;

  position: relative;
  display: inline;
  margin-left: toRem(4);

  @include media-breakpoint-up(md) {
    margin-left: toRem(8);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: toRem(24);
    height: toRem(24);
    color: $color-black;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
}
