.app-select {
  $root: &;

  .v-select {
    position: relative;
  }

  &::v-deep {
    .vs {
      $vs: &;

      &__dropdown-toggle {
        display: flex;
        align-items: center;
        height: toRem(50);
        padding: 0 toRem(24);
        background-color: $color-dark-grey;
        color: $color-white;
        border-radius: toRem(80);

        @include defaultTransition(background-color);

        @include media-breakpoint-up(lg) {
          padding: 0 toRem(32);
        }
        @include media-breakpoint-up(md) {
          height: toRem(80);
        }
      }

      &__selected-options {
        position: relative;
        display: flex;
        align-items: center;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0;
      }

      &__search {
        @include visually-hidden;
      }

      &__selected {
        color: $color-white;
        margin: 0;
        padding: 0;
        border: 0;
        opacity: 1;

        @include text-input;
      }

      &__dropdown-menu {
        background-color: $color-dark-grey;
        border-radius: toRem(40);
        padding: toRem(16) toRem(24);

        @include media-breakpoint-up(lg) {
          padding: toRem(30) toRem(32);
        }
        @include media-breakpoint-only(md) {
          padding: toRem(30) toRem(24);
        }
      }

      &__dropdown-option {
        color: $color-white;
        padding: 0;

        @include text-input;

        &:not(:last-child) {
          margin-bottom: toRem(12);
        }

        @include media-breakpoint-up(md) {
          &:not(:last-child) {
            margin-bottom: toRem(16);
          }
        }

        @include defaultTransition(color);

        &--highlight {
          background-color: transparent;
          color: $color-grey;
        }

        &--selected {
          color: $color-grey;
          cursor: default;
        }
      }

      &__open-indicator {
        background-color: transparent;
        color: $color-white;
      }

      &__actions {
        padding: 0;
      }

      &__spinner {
        display: none;
      }
    }

    .vs--disabled {
      .vs__dropdown-toggle {
        cursor: not-allowed;
      }

      .vs__selected {
        color: rgba($color-white, 0.2);
      }

      .vs__open-indicator {
        color: rgba($color-white, 0.2);
      }
    }

    .v-select:not(.vs--disabled) {
      .vs__dropdown-toggle {
        @include hover {
          background-color: $color-dark-grey-hover;
        }
      }
    }
  }
}
