.app-slider-video {
  $root: &;

  &__content {

  }

  &__top {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-left: toRem(32);
      padding-right: toRem(60);
      margin-bottom: toRem(72);
    }
    @include media-breakpoint-only(md) {
      margin-bottom: toRem(24);
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: toRem(32);
    }
  }

  &__title {
    span {
      &:nth-child(1) {
        display: block;
      }

      &:not(:first-child) {
        font-weight: 300;
      }
    }

    @include media-breakpoint-only(md) {
      margin-bottom: toRem(32);
      max-width: toRem(640);
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: toRem(24);
    }
  }

  &__text {
    @include media-breakpoint-up(lg) {
      padding-top: toRem(28);
      max-width: toRem(360);
    }
    @include media-breakpoint-only(md) {
      max-width: toRem(452);
    }
  }

  &__swiper {
    .swiper-container {
      overflow: visible !important;

      @include media-breakpoint-only(md) {
        margin-left: toRem(-8);
        margin-right: toRem(-8);
      }
      @include media-breakpoint-down(sm) {
        margin-left: toRem(-5);
        margin-right: toRem(-5);
      }
    }

    .swiper-wrapper {
      @include media-breakpoint-up(lg) {
        transform: none !important;
      }
    }

    @include media-breakpoint-only(md) {
      width: 87.5%;
    }
  }

  &__base {
    position: relative;
  }

  &__items {
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &__item {
    position: relative;

    @include media-breakpoint-up(lg) {
      flex-shrink: 1;

      &:not(:last-child) {
        margin-right: toRem(16);
      }

      &:nth-child(1) {
        width: calc(50% - #{toRem(8)}) !important;
      }

      &:nth-child(2),
      &:nth-child(3) {
        width: calc(25% - #{toRem(8)}) !important;
      }

      &:nth-child(n+4) {
        display: none;
      }
    }
    @include media-breakpoint-only(md) {
      padding-left: toRem(8);
      padding-right: toRem(8);
    }
    @include media-breakpoint-down(sm) {
      padding-left: toRem(5);
      padding-right: toRem(5);
    }
  }

  &__frame {
    position: relative;
    border-radius: toRem(24);
    overflow: hidden;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      height: toRem(182);

      #{$root}__item:first-child & {
        height: toRem(373);
      }
    }
    @include media-breakpoint-only(md) {
      height: toRem(345);
    }
    @include media-breakpoint-down(sm) {
      height: toRem(185);
    }

    @include hover {
      #{$root}__play {
        transform: scale(1.05) translate(-50%, -50%);
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;

    @include media-breakpoint-up(lg) {
      &.is-active {
        z-index: 1;
      }

      &.new-active {
        z-index: 2;
      }
    }
    @include media-breakpoint-down(md) {
      display: none;
      transform: none !important;

      &.is-current {
        display: block;
      }
    }
  }

  &__image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .app-image {
      position: absolute;
      top: 0;
      left: 0;
    }

    @include media-breakpoint-down(md) {
      opacity: 1 !important;
    }
  }

  &__play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(72);
    height: toRem(72);
    backdrop-filter: blur(#{toRem(15)});
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 50%;
    color: $color-white;

    @include defaultTransition(transform);

    .app-icon {
      width: toRem(24);
      height: toRem(24);
    }

    #{$root}__item:not(:first-child) & {
      @include media-breakpoint-up(lg) {
        width: toRem(72);
        height: toRem(72);

        .app-icon {
          width: toRem(24);
          height: toRem(24);
        }
      }
    }

    @include media-breakpoint-up(md) {
      width: toRem(104);
      height: toRem(104);

      .app-icon {
        width: toRem(32);
        height: toRem(32);
      }
    }
  }

  &__action {
    @include media-breakpoint-up(lg) {
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: toRem(200);
    }
    @include media-breakpoint-only(md) {
      margin-bottom: toRem(40);
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: toRem(40);

      .app-button {
        width: 100%;
      }
    }
  }

  &__arrows {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    gap: toRem(16);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__pagination {
    position: absolute;
    top: calc(100% + #{toRem(24)});
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-only(md) {
      top: calc(100% + #{toRem(40)});
    }
  }
}
