.app-slider-video {
  $root: &;

  &__content {

  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      padding-left: toRem(32);
      padding-right: toRem(60);
    }
  }

  &__title {
    span {
      &:nth-child(1) {
        display: block;
      }

      &:not(:first-child) {
        font-weight: 300;
      }
    }
  }

  &__text {
    @include media-breakpoint-up(lg) {
      padding-top: toRem(28);
      max-width: toRem(360);
    }
  }

  &__swiper {
    .swiper-container {
      overflow: visible !important;
    }

    .swiper-wrapper {
      transform: none !important;
    }
  }

  &__items {
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &__item {
    position: relative;

    @include media-breakpoint-up(lg) {
      &:not(:last-child) {
        margin-right: toRem(16);
      }

      &:nth-child(1) {
        width: calc(50% - #{toRem(16)}) !important;
      }

      &:nth-child(2),
      &:nth-child(3) {
        width: calc(25% - #{toRem(16)}) !important;
      }

      &:nth-child(n+4) {
        display: none;
      }
    }
  }

  &__frame {
    position: relative;
    border-radius: toRem(24);
    overflow: hidden;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      height: toRem(182);

      #{$root}__item:first-child & {
        height: toRem(373);
      }
    }

    @include hover {
      #{$root}__play {
        transform: scale(1.05) translate(-50%, -50%);
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .app-image {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--first {
      z-index: 2;
    }

    &--rest {
      z-index: 1;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(72);
    height: toRem(72);
    backdrop-filter: blur(#{toRem(15)});
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 50%;
    color: $color-white;

    @include defaultTransition(transform);

    .app-icon {
      width: toRem(24);
      height: toRem(24);
    }

    #{$root}__item:not(:first-child) & {
      @include media-breakpoint-up(lg) {
        width: toRem(72);
        height: toRem(72);

        .app-icon {
          width: toRem(24);
          height: toRem(24);
        }
      }
    }

    @include media-breakpoint-up(md) {
      width: toRem(104);
      height: toRem(104);

      .app-icon {
        width: toRem(32);
        height: toRem(32);
      }
    }
  }
}
