.app-card-layout {
  $root: &;

  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: toRem(2063);
    height: toRem(941);
    border-radius: toRem(2063);
    background: radial-gradient(53.59% 53.67% at 50% 50%, #56FF43 0%, rgba(255, 255, 255, 0.00) 90%);
    content: "";

    @include media-breakpoint-only(md) {
      width: toRem(1000);
      height: toRem(1000);
      border-radius: toRem(1000);
      background: radial-gradient(100% 50% at 50% 50%, rgba(#56FF43, 0.5) 0%, rgba(255, 255, 255, 0.00) 80%);
    }

    @include media-breakpoint-down(sm) {
      width: toRem(1000);
      height: toRem(1000);
      border-radius: toRem(1000);
      background: radial-gradient(60% 55% at 50% 50%, rgba(#56FF43, 0.5) 0%, rgba(255, 255, 255, 0.00) 80%);
    }
  }

  &__top {
    margin-bottom: toRem(32);

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: toRem(64);
      padding-left: toRem(32);
      padding-right: toRem(32);
    }
    @include media-breakpoint-only(md) {
      margin-bottom: toRem(40);
    }
  }

  &__title {
    @include media-breakpoint-only(md) {
      margin-bottom: toRem(32);
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: toRem(24);
    }

    span {
      display: block;

      &:not(:first-child) {
        font-weight: 300;
      }
    }
  }

  &__text {
    max-width: toRem(280);

    @include media-breakpoint-up(lg) {
      padding-top: toRem(24);
      margin-right: toRem(40);
    }
    @include media-breakpoint-up(md) {
      max-width: toRem(332);
    }
  }

  &__swiper {
    .swiper-container {
      position: static;
      overflow: visible !important;
      margin-left: toRem(-8);
      margin-right: toRem(-8);
    }

    .swiper-wrapper {
      @include media-breakpoint-up(lg) {
        transform: none !important;
      }
    }

    @include media-breakpoint-only(md) {
      width: 62.5%;
    }
  }

  &__items {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding-left: toRem(8);
    padding-right: toRem(8);

    @include media-breakpoint-up(lg) {
      width: 33.3333% !important;

      &:nth-child(2) {
        margin-bottom: toRem(16);
      }

      &:nth-child(3) {
        margin-left: 33.3333%;
      }
    }
    @include media-breakpoint-down(sm) {
      height: auto;

      .app-card-feature {
        height: 100%;
      }
    }
  }

  &__pagination {
    position: absolute;
    top: calc(100% + #{toRem(40)});
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      top: calc(100% + #{toRem(24)});
    }
  }
}
